.DS_Store
/*-init.clj
/*.log
/.idea/
/dataSources/
/.idea*
/.lein-*
/.nrepl-port
/.pm2/
/.shadow-cljs/
/.ts-out/
/cypress/fixtures/example.json
/cypress/screenshots
/cypress/videos
/maksut.iml
/logs/
/node_modules/
/out/
/pids/
/resources/public/css/maksut.css
/resources/public/maksut/css/
/resources/public/maksut/js/compiled/
/resources/public/js/compiled/maksut.js
/resources/public/js/compiled/manifest.edn
/target/
/projectFilesBackup/
.lsp/
/maksut.iws
/maksut.ipr
.clj-kondo/
.open-next
**/test-results/
*.swp
/.vscode/
