{:lein     true

 :nrepl    {:port 9034 :host "0.0.0.0"}

 :builds   {:maksut {:target     :browser
                     :output-dir "resources/public/maksut/js/compiled"
                     :asset-path "/maksut/js/compiled"
                     :modules    {:maksut
                                  {		:init-fn  maksut.core/init
                                   :preloads [devtools.preload
                                              ;day8.re-frame-10x.preload
                                              ]}}
                     :dev {:compiler-options
                           {:closure-defines
                            { re-frame.trace.trace-enabled?        true
                             day8.re-frame.tracing.trace-enabled? true}
                            :external-config
                            {:devtools/config
                             {	:features-to-install           [:hints :async]
                              :fn-symbol                     "F"
                              :dont-detect-custom-formatters true}}}}
                     :devtools   {	:http-root "resources/public"
                                  :http-port 9035}}}

 :fs-watch {:watcher :polling}}