{:server               {:http?        false
                        :ssl-port     9000
                        :join?        false
                        :keystore     "resources/maksut.p12"
                        :key-password "password"}
 :log                  {:base-path "/tmp"}
 :db                   {:username      "postgres_user"
                        :password      "postgres_password"
                        :database-name "maksut"
                        :host          "localhost"
                        :port          15499}
 :payment              {:paytrail-config {:default {:host             "https://services.paytrail.com/payments"
                                                    :merchant-id       375917
                                                    :merchant-secret  "SAIPPUAKAUPPIAS"}
                                          :kkhakemusmaksu {:host             "https://services.paytrail.com/payments"
                                                           :merchant-id       375917
                                                           :merchant-secret  "SAIPPUAKAUPPIAS"}}
                        :callback-uri       "https://maksut-local.test:9000/maksut/api/payment/paytrail"
                        :order-id-prefix    {:tutu "TTU"
                                             :astu "ASTU"
                                             :kkhakemusmaksu "KKHA"}
                        :currency           "EUR"}
 :tutu                 {:lasku-origin       "tutu"
                        :order-id-prefix    "TTU"}
 :file-store           {:engine :filesystem
                        :filesystem {:base-path "/tmp/maksut-tests"}
                        :s3 {:bucket ""
                             :region ""}
                        :attachment-mime-types ["text/plain"
                                                "text/html"]}
 :cas                  {:username "cas_username"
                        :password "cas_password"
                        :services {:kayttooikeus    {:service-url-property :cas.service.kayttooikeus-service
                                                     :session-cookie-name  "JSESSIONID"}
                                   :email           {:service-url-property :cas.service.ryhmasahkoposti-service
                                                     :session-cookie-name  "JSESSIONID"}}}
 :urls                 {:virkailija-baseurl        "https://localhost"
                        :maksut-url                "https://localhost:9000/maksut"
                        :oppija-baseurl            "http://localhost:3000/maksut-ui"}
 :oph-organisaatio-oid "1.2.246.562.10.00000000001"
 :public-config        {:environment   :development
                        :default-panel :panel/tutu-maksut
                        :caller-id     "1.2.246.562.10.00000000001.maksut.frontend"}}