<!DOCTYPE html>
<html lang="{{locale|safe}}">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 500px;">
  <tr>
    <td colspan="4" style="padding-left: 20px; padding-top: 10px; font-size: 24px;">
      {{body-otsikko|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px; padding-top: 20px; font-weight: 600;">
      {{name-desc|safe}}: {{first-name|safe}} {{last-name|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px;">
      {{payment-reference-desc|safe}}: {{payment-reference|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px;">
      {{date-of-purchase-desc|safe}}: {{date-of-purchase|datetime-format-with-dots-from-long}}
    </td>
  </tr>
  <tr>
    <th style="padding-left: 20px; padding-top: 20px; text-align: left; width: 70%;">
      {{description|safe}}
    </th>
    <th style="padding-left: 10px; padding-top: 20px; text-align: right;">
      {{units|safe}}
    </th>
    <th style="padding-left: 10px; padding-top: 20px; text-align: right;">
      {{vat|safe}}
    </th>
    <th style="padding-left: 10px; padding-top: 20px; text-align: right;">
      {{unit-price|safe}}
    </th>
  </tr>
  {% for item in items %}
  <tr>
    <td style="padding-left: 20px; vertical-align: top; width: 70%;">
      {{item.description|linebreaks-br|safe}}
    </td>
    <td style="padding-left: 10px; text-align: right; vertical-align: top;">
      {{item.units|safe}}
    </td>
    <td style="padding-left: 10px; text-align: right; vertical-align: top;">
      {{item.vat|safe}} %
    </td>
    <td style="padding-left: 10px; text-align: right; vertical-align: top;">
      {{item.unit-price|number-format:%.2f:fi}} EUR
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="3" style="padding-left: 20px; padding-top: 20px;">
      {{total-paid}}
    </td>
    <td style="padding-left: 10px; padding-top: 20px; text-align: right;">
      {{total-amount|number-format:%.2f:fi}} EUR
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px; padding-top: 20px;">
      {{zero-vat-explanation|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px; padding-top: 20px;">
      {{oph|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px;">
      {{address1|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px;">
      {{address2|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px;">
      {{contact-details|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px;">
      {{business-id|safe}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="padding-left: 20px; padding-top: 20px;">
      <img src="{{oppija-baseurl|safe}}/images/OPH-logo.png" alt="{{oph|safe}}" />
    </td>
  </tr>
</table>
</body>
</html>
