<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 10px; font-size: 24px;">
          Päätösmaksusi on vastaanotettu
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Olet maksanut päätösmaksun. Lähetämme päätöksen sinulle mahdollisimman pian.
          <br><br>
          Voit käydä tarkastelemassa maksusi tietoja aiemmin sähköpostitse saamasi linkin kautta. Linkki toimii 14 vuorokauden ajan siitä, kun lähetimme maksupyynnön. Sen jälkeen linkki sulkeutuu tietosuojasyistä.
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          Älä vastaa tähän viestiin. Jos sinulla on kysyttävää, lähetä meille sähköpostia osoitteeseen <a href="mailto:{{information-email|safe}}">{{information-email|safe}}</a>.
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          Ystävällisin terveisin<br><br>
          Opetushallitus
        </td>
      </tr>
    </table>
  </body>
</html>
