<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 10px; font-size: 24px;">
          {{otsikko|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{päätös-selitys|safe}}
          <br><br>
          {{tarkastelu-teksti|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          {{älä-vastaa-emailaa|safe}} <a href="mailto:{{information-email|safe}}">{{information-email|safe}}</a>.
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          {{allekirjoitus-alku|safe}}<br><br>
          {{allekirjoitus-loppu|safe}}
        </td>
      </tr>
    </table>
  </body>
</html>
