<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 10px; font-size: 24px;">
          {{otsikko|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{käsittely-selitys|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{hakemusnumero|safe}}: {{application-id}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px; font-size: 20px;">
          {{käsittely-väliotsikko-1-1|safe}}<span
                style="text-decoration: underline;">{{käsittely-väliotsikko-1-2|safe}}</span>
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{käsittely-päätös-selitys|safe}}
          <br><br>
          {{käsittely-päätös-laki|safe}}
        </td>
      </tr>
      {% if information-url|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          <a style="color: #0093C4;" href="{{information-url|safe}}">{{information-url|safe}}</a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="padding-left: 20px; padding-top: 40px; font-size: 20px;">
          {{käsittely-väliotsikko-2-1|safe}}<span
                style="text-decoration: underline;">{{käsittely-väliotsikko-2-2|safe}}</span>
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{käsittely-ehdollinen-selitys-1|safe}}
          <br><br>
          {{käsittely-ehdollinen-selitys-2|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          {{älä-vastaa-emailaa|safe}} <a href="mailto:{{information-email|safe}}">{{information-email|safe}}</a>.
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          {{allekirjoitus-alku|safe}}<br><br>
          {{allekirjoitus-loppu|safe}}
        </td>
      </tr>
    </table>
  </body>
</html>
